<div class="container text-center my-5">
  <h1 class="mb-4">Add Member</h1>
  <div class="row">
    <div class="col-10">

    <div class="row">
      <div class="col-md-3 col-sm-6 mb-4">
        <p class="guide-text">
          Click the Key icon at the right side of the Trip
        </p>
        <app-mobile-frame src="assets/guide/home.png"></app-mobile-frame>
      </div>
      <div class="col-md-3 col-sm-6 mb-4">
        <p class="guide-text">
          This is a Unique TripCode, share with Friends you want to let them
          join the Trip
        </p>
        <app-mobile-frame src="assets/guide/tripcode.png"></app-mobile-frame>
      </div>
      <div class="col-md-3 col-sm-6 mb-4">
        <p class="guide-text">Enter the TripAccess code, Click Search</p>
        <app-mobile-frame src="assets/guide/search_trip.png"></app-mobile-frame>
      </div>
      <div class="col-md-3 col-sm-6 mb-4">
        <p class="guide-text">Once Trip Found, Click Join</p>
        <app-mobile-frame src="assets/guide/join_trip.png"></app-mobile-frame>
      </div>
    </div>

    </div>
    <div class="col-2">
        <app-guide-nav/>
    </div>
  </div>
</div>
