<footer>
  <div class="row">
    <div class="col-4">
      <h4>More</h4>
      <a href="/privacy_policy">Privacy Policy</a>
      <a href="/delete_account">Delete Account</a>
    </div>

    <div class="col-4">
      <h4>Contact us</h4>
      <a target="_blank" href="mailto:tripsplitofficial@gmail.com"
        >tripsplitofficial&#64;gmail.com</a
      >
      <a target="_blank" href="https://instagram.com/tripsplit.in"
        >Instagram</a
      >
    </div>

    <div class="col-4">
      <h4>Product</h4>
      <a target="_blank"
        href="https://play.google.com/store/apps/details?id=com.bydeveloper.tripsplit"
        >Google Play Store</a
      >
      <a target="_blank" href="https://app.tripsplit.in">WebApp</a>
    </div>
  </div>
  <hr>
  <div class="text-center">&copy; 2024 TripSplit</div>
</footer>
