<h2 mat-dialog-title>Install on IOS</h2>
<mat-dialog-content>
  <iframe
    width="100%"
    height="100%"
    src="https://www.youtube.com/embed/FfxCBU9CKm4?si=bm01m9l0ByQPp3fd"
    title="Install on IOS"
    frameborder="0"
    class="video-frame"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen
  ></iframe>
  <!-- <p>Follow these Steps to Install WebApp</p>
  <ul>
    <li>Open <b>Safari Browser</b></li>
    <li>
      Go to <a href="https://app.tripsplit.in">https://app.tripsplit.in</a>
    </li>
    <li>Tap <mat-icon>open_in_browser</mat-icon> icon at bottom of browser</li>
    <li>Click <b>Add to Home Screen</b> Option</li>
    <li>Click Done</li>
  </ul> -->
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button class="primary-button" mat-raised-button color="primary" (click)="redirectToWebApp()">Open TripSplit</button>
</mat-dialog-actions>
