<div class="row justify-content-center">
    <div class="counter-container col-4 col-md-4 col-lg-4">
      <p class="stats-text"><span id="downloads-counter">0</span>+</p>
      <span class="stats-info">Downloads</span>
    </div>
    <div class="counter-container col-4 col-md-4 col-lg-4">
      <p class="stats-text">5 <mat-icon>star</mat-icon></p>
      <span class="stats-info">Rating</span>
    </div>
    <div class="counter-container col-4 col-md-4 col-lg-4">
      <p class="stats-text"><span id="ads-counter">100</span></p>
      <span class="stats-info">Ads Served</span>
    </div>
    <div class="counter-container col-4 col-md-4 col-lg-4">
      <p class="stats-text"><span id="trips-counter">0</span>+</p>
      <span class="stats-info">Trips Created</span>
    </div>
    <div class="counter-container col-4 col-md-4 col-lg-4">
      <p class="stats-text"><span id="expenses-counter">0</span>+</p>
      <span class="stats-info">Expenses Added</span>
    </div>
    <div class="counter-container col-4 col-md-4 col-lg-4">
      <p class="stats-text"><span id="members-counter">0</span>+</p>
      <span class="stats-info">Members Joined</span>
    </div>
  </div>
  