.heading h1, h2{
    margin: 0 0 0 0 !important;
    color: var(--primary-blue);
}

.container{
    padding: 10px;
}
.review-card {
  background-color: var(--primary-white);
  padding: 20px;
  min-height: 300px;
  max-height: 300px;
  border-radius: 30px;
  margin: 20px 20px 40px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.review-card p {
  font-size: 16px;
  color: #333;
  height: 150px;
  text-overflow: ellipsis !important;
  overflow: hidden;
}


.review-card h5 {
  margin-top: 10px;
  font-size: 18px;
  color: #555;
}

.star {
  font-size: 20px;
  color: #ccc;
}

.star.filled {
  color: #ffd700;
}

p{
    padding: 10px;
    text-align: left;
    color: grey !important;
}

.user-name{
    display: block;
    font-size: 12px;
    color: grey;
    padding: 10px;
    text-align: left;
}
