<div class="full-height">
    <app-navbar/>
    <div class="full-screen-section">
        <div class="container">
            <app-title-text/>   
            <div class="button-container mb-5">
                <app-download-ios-btn></app-download-ios-btn>
                &nbsp;&nbsp;
                <app-download-android-btn></app-download-android-btn>
            </div>
            <app-rating-info/>
        </div>
    </div>
</div>
<div class="container">
    <app-why-to-choose></app-why-to-choose>
    <app-reviews></app-reviews>
</div>
<app-footer></app-footer>
