.full-screen-section {
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-background-color);
    position: relative;
    z-index: 1;
    overflow: hidden;
    padding: 20px; /* Padding for smaller screens */
}

.full-height{
    height: 100vh;
}


.button-container {
    display: flex;
    justify-content: center;
    width: 100%;
}