:root {
  --primary-blue: #3f51b5;
  --primary-blue-light: #e8eaf6;
  --primary-white: #f5f5f5;
}

html,
body {
  height: 100%;
  overflow-x: hidden !important;
}
body {
  margin: 0;
  background-color: var(--primary-white) !important;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.primary-button {
    padding: 25px 20px !important;
    font-size: 16px !important;
    cursor: pointer !important;
    background-color: var(--primary-blue) !important;
    color: var(--primary-white) !important;
    border: none !important;
    border-radius: 20px !important;
    width: 150px !important;
    box-shadow: 0 4px 10px grey !important;
    transition: background-color 0.3s ease !important;
  }

  h1 {
    font-size: 30px !important;
    color: var(--primary-blue) !important;
    font-weight: 500 !important;
    margin: 0 0 0 !important;
  }