.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
}

.logo img {
  height: 40px;
  width: 40px;
  padding: 0 10px 0 10px;
}

h1 {
  font-size: 24px;
  font-style: italic;
  font-weight: bold;
  color: #3f51b5;
}

.iframe-container {
  flex-grow: 1;
  width: 100%;
  max-width: 300px;  
  border-radius: 30px;
  background-color: #f5f5f5;
  border-top: 14px solid black;
  border-bottom: 14px solid black;
  border-left: 3px solid black;
  border-right: 3px solid black;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

@media (min-width: 320px) {
  .iframe-container {
    max-width: 300px;
  }
}

.iframe-content {
  width: 100%;
  height: 100%;
  border-radius: 25px;  
  /* transform: scale(0.8); */
  /* transform-origin: 0 0; */
}

.button-container {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0 0 20px 0;
}

.spacer {
  width: 40px;
}

button {
  padding: 25px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #3f51b5 !important;
  border: none;
  border-radius: 20px;
  width: 150px !important;
  transition: background-color 0.3s ease;
}

button[color="primary"] {
  background-color: #007bff;
  color: white;
}

button[color="primary"]:hover {
  background-color: #0056b3;
}

button[color="accent"] {
  background-color: #ff4081;
  color: white;
}

button[color="accent"]:hover {
  background-color: #c51162;
}