<div class="container">
  <div class="logo">
    <img src="assets/logo.jpg" alt="logo" />
  </div>
  <h1>Trip Split</h1>

  <div class="screenshot-container">
    <img src="assets/screenshots/home.jpg" alt="App Screenshot" />
  </div>

  <div class="button-container">
    <button mat-raised-button color="primary" (click)="redirectToPlayStore()">
      <mat-icon>android</mat-icon> Android
    </button>
    <div class="spacer"></div>
    <button mat-raised-button color="accent" (click)="redirectToWebApp()">
      <mat-icon>language</mat-icon> Web + IOS
    </button>
  </div>
  
</div>
