.delete-account-steps {
    padding: 16px;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
  }
  
  .subtitle {
    font-size: 24px;
    font-weight: bold;
    margin-top: 16px;
    margin-bottom: 16px;
  }
  
  .step-container {
    display: flex;
    align-items: flex-start;
    margin-bottom: 16px;
  }
  
  .step-number {
    font-size: 18px;
    font-weight: bold;
  }
  
  .step-description {
    font-size: 18px;
    margin-left: 8px;
  }
  
  .note {
    font-size: 16px;
    font-style: italic;
    color: red;
    margin-top: 16px;
  }
  